body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1307px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1221 {
  position:absolute;
  left:185px;
  top:126px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1222 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1223 {
  position:absolute;
  left:189px;
  top:198px;
  width:53px;
  height:16px;
  text-align:center;
}
#u1224 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1225 {
  position:absolute;
  left:272px;
  top:194px;
  width:300px;
  height:25px;
}
#u1225_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1123px;
  height:2px;
}
#u1226 {
  position:absolute;
  left:185px;
  top:158px;
  width:1122px;
  height:1px;
}
#u1227 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1307px;
  height:77px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1228 {
  position:absolute;
  left:0px;
  top:0px;
  width:1307px;
  height:77px;
}
#u1229 {
  position:absolute;
  left:2px;
  top:30px;
  width:1303px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1230 {
  position:absolute;
  left:27px;
  top:22px;
  width:225px;
  height:33px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u1231 {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u1232 {
  position:absolute;
  left:1195px;
  top:22px;
  width:85px;
  height:22px;
}
#u1232_input {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1232_input:disabled {
  color:grayText;
}
#u1233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u1233 {
  position:absolute;
  left:189px;
  top:242px;
  width:53px;
  height:16px;
  text-align:center;
}
#u1234 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u1235 {
  position:absolute;
  left:272px;
  top:238px;
  width:300px;
  height:25px;
}
#u1235_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1236 {
  position:absolute;
  left:272px;
  top:285px;
  width:300px;
  height:33px;
}
#u1236_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:center;
}
#u1237 {
  position:absolute;
  left:31px;
  top:103px;
  width:149px;
  height:205px;
}
#u1237_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1238 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1239 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u1240 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1241 {
  position:absolute;
  left:0px;
  top:20px;
  width:92px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1242 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u1243 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1244 {
  position:absolute;
  left:0px;
  top:40px;
  width:92px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1245 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1245_img.selected {
}
#u1245.selected {
}
#u1246 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1247 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u1248 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1244_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1249 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u1250_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1250 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1251 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1252 {
  position:absolute;
  left:20px;
  top:40px;
  width:80px;
  height:20px;
}
#u1253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1253 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1254 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1255 {
  position:absolute;
  left:0px;
  top:100px;
  width:92px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1256 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1256_img.selected {
}
#u1256.selected {
}
#u1257 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1258 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u1259 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1255_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1260 {
  position:absolute;
  left:20px;
  top:20px;
  width:80px;
  height:20px;
}
#u1261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1261 {
  position:absolute;
  left:22px;
  top:0px;
  width:58px;
  height:20px;
}
#u1262 {
  position:absolute;
  left:3px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u1263 {
  position:absolute;
  left:0px;
  top:140px;
  width:92px;
  height:20px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u1264_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1264 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1264_img.selected {
}
#u1264.selected {
}
#u1265 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1266 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u1267 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1263_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1268 {
  position:absolute;
  left:20px;
  top:20px;
  width:124px;
  height:20px;
}
#u1269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1269 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u1270 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
#u1271 {
  position:absolute;
  left:20px;
  top:40px;
  width:95px;
  height:20px;
}
#u1272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1272 {
  position:absolute;
  left:22px;
  top:0px;
  width:84px;
  height:20px;
}
#u1273 {
  position:absolute;
  left:3px;
  top:2px;
  width:79px;
  white-space:nowrap;
}
